table td,
table th 
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody td 
{
  font-weight: 500;
  color: #999999;
}

.gradient-custom 
{
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(13, 50, 77, 1), rgba(127, 90, 131, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(13, 50, 77), rgb(127, 90, 131))
}

